body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 1em;
  color: #424649;
  /* #3d4144 */
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;

}

.side_bar h2 {
  font-size: 1.15em;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: inherit;
}


body header {
  font-weight: bold;
  font-size: 1.5em;
  background-color: rgb(240, 238, 242);
  padding: .5em;
  margin-bottom: 1em;
  margin-left: 0em;
}

.page_content {
  display: flex;
  justify-content: start;
}

.page_content > .side_bar {
  border-right: solid 1px rgb(210, 203, 216);
}

.page_heading_menu {
  display: flex;
  justify-content: space-between;
}

.page_heading_menu a {
  color: rgb(109, 107, 113);
  text-decoration: underline;
  margin-left: 1em;
  justify-content: space-between;
}

.page_heading_menu > .heading_menu_left {
  margin-left: 1em;
}

.page_heading_menu > .heading_menu_right {
  margin-right: 1em;
}

.side_bar {
  box-sizing: border-box;
  width: 20em;
  margin-left: 3em;
  padding-right: 3em;
  font-weight:290;
}

.header_small_block-end {
  margin-block-end: .2em;
}

p {
  margin-block-start: 0em;
  margin-block-end: 1em;
}

.social_icon {
  margin-top: 1.5em;
  margin-left: 1em;
}

.social_icon > a {
    margin-right: 1em;
}

.author_avatar {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.author_avatar > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-color: #424649;
  border-width: 1px;
  object-fit: cover;
  object-position: 50% 30%;
}

.author_content {
  margin-left: 1em;
  width: 13em;
}

.author_contact > p {
  margin-bottom: .5em;
}

.social_icon img {
  width: 30px;
  height: 30px;
}

.introduction p {
  font-family: 'Monaco', 'Consolas', 'Courier New', monospace;
  margin-left: 3em;
  margin-right: 10em;
}

.introduction p > a {
  color: rgb(90, 50, 170);
  text-decoration: underline;
}

.footer_content {
  margin-top: 2em;
  margin-left: 3em;
}